In [2]:
import pandas as pd
import numpy as np
train=pd.read_csv("bigdatamart_Train.csv")

In [3]:
train.head(1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138

In [4]:
train.columns
train.shape

(8523, 12)

In [5]:
test=pd.read_csv("bigdatamart_Test.csv")
test.head(1)
test.shape

(5681, 11)

In [6]:
train.columns,test.columns

(Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
        'Item_Type', 'Item_MRP', 'Outlet_Identifier',
        'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
        'Outlet_Type', 'Item_Outlet_Sales'],
       dtype='object'),
 Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
        'Item_Type', 'Item_MRP', 'Outlet_Identifier',
        'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
        'Outlet_Type'],
       dtype='object'))

In [7]:
data=pd.read_csv("bigdatamart_Train.csv")

In [8]:
data.shape
data.dtypes
data.columns
data1=data.drop(columns=["Item_Identifier",'Outlet_Identifier',
       'Outlet_Establishment_Year', "Outlet_Size", 'Outlet_Location_Type',
       'Outlet_Type'])

In [9]:
data1.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,994.7052

In [10]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer()
data1["Item_Weight"]=imp.fit_transform(data1["Item_Weight"].values.reshape(-1,1))

In [11]:
data1.isnull().sum()

Item_Weight          0
Item_Fat_Content     0
Item_Visibility      0
Item_Type            0
Item_MRP             0
Item_Outlet_Sales    0
dtype: int64

In [12]:
data1.dtypes
data1.head(1)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
0,9.3,Low Fat,0.016047,Dairy,249.8092,3735.138

In [13]:
data1.Item_Fat_Content.value_counts()
data1.Item_Type.value_counts().nunique()

16

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data1["Item_Fat_Content"]=le.fit_transform(data1[["Item_Fat_Content"]])
data1["Item_Type"]=le.fit_transform(data1[["Item_Type"]])

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [59]:
data1.head(1)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
0,9.3,1,0.016047,4,249.8092,3735.138

In [15]:
data1.info()
data1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_Weight        8523 non-null   float64
 1   Item_Fat_Content   8523 non-null   int64
 2   Item_Visibility    8523 non-null   float64
 3   Item_Type          8523 non-null   int64
 4   Item_MRP           8523 non-null   float64
 5   Item_Outlet_Sales  8523 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 399.6 KB

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,1.369354,0.066132,7.226681,140.992782,2181.288914
std,4.226124,0.644810,0.051598,4.209990,62.275067,1706.499616
min,4.555000,0.000000,0.000000,0.000000,31.290000,33.290000
25%,9.310000,1.000000,0.026989,4.000000,93.826500,834.247400
50%,12.857645,1.000000,0.053931,6.000000,143.012800,1794.331000
75%,16.000000,2.000000,0.094585,10.000000,185.643700,3101.296400
max,21.350000,4.000000,0.328391,15.000000,266.888400,13086.964800

In [16]:
from scipy.stats import zscore
z=np.abs(zscore(data1))
data2=data1[(z<3).all(axis=1)]

In [17]:
data2.skew()

Item_Weight          0.087821
Item_Fat_Content     0.291106
Item_Visibility      0.794506
Item_Type            0.094578
Item_MRP             0.139153
Item_Outlet_Sales    0.877476
dtype: float64

In [18]:
import numpy as np
for col in data2.columns:
    if data2[col].skew()>.55:
        data2[col]=np.log1p(data2[col])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [30]:
data2.skew()

Item_Weight          0.087821
Item_Fat_Content     0.291106
Item_Visibility      0.711512
Item_Type            0.094578
Item_MRP             0.139153
Item_Outlet_Sales   -0.936422
dtype: float64

In [19]:
data1.shape, data2.shape

((8523, 6), (8222, 6))

In [20]:
X=data2.drop(columns="Item_Outlet_Sales", axis=1)
y=data2.Item_Outlet_Sales

In [21]:
from sklearn.model_selection import train_test_split as split
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression
max_r_score=0
for r in range (42,200):
    X_train, X_test, y_train,y_test=split(X,y,test_size=.2,random_state=r)
    lr=LinearRegression()
    lr.fit(X_train,y_train)
    y_pred=lr.predict(X_test)
    score=r2_score(y_test,y_pred)
    if score>max_r_score:
        max_r_score=score
        final_r=r
print("Max_r2_score:", max_r_score,"corresponding to final r is:",final_r)

Max_r2_score: 0.3055191512624684 corresponding to final r is: 156

In [24]:
X_train, X_test, y_train,y_test=split(X,y,test_size=.2,random_state=156)
lr=LinearRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)
score=r2_score(y_test,y_pred)
score

0.3055191512624684

In [25]:
from sklearn.model_selection import cross_val_score
cross_val_score(lr, X, y, cv=10, scoring="r2")

array([0.30321356, 0.26730521, 0.25913305, 0.3031501 , 0.27510812,
       0.26767075, 0.29861715, 0.23507933, 0.26248287, 0.23965024])

In [26]:
from sklearn.ensemble import AdaBoostRegressor, RandomForestRegressor, GradientBoostingRegressor
r=[AdaBoostRegressor(), RandomForestRegressor(),GradientBoostingRegressor()]
max_score=0
for i in r:
    i.fit(X_train, y_train)
    y_pred=i.predict(X_test)
    score=r2_score(y_test, y_pred)
    if score>max_score:
        max_score=score
        final_model=i
print("Model:",final_model,"score:",max_score)

Model: GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False) score: 0.3339246372735323

In [28]:
from sklearn.externals import joblib
joblib.dump(GradientBoostingRegressor(),"bigmart.pkl")

/usr/local/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['bigmart.pkl']

In [31]:
data1.columns

Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
       'Item_MRP', 'Item_Outlet_Sales'],
      dtype='object')

In [32]:
test.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [43]:
test_mod=test.drop(columns=['Item_Identifier','Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'])

In [44]:
test_mod.head()

   Item_Weight Item_Fat_Content  Item_Visibility    Item_Type  Item_MRP
0       20.750          Low Fat         0.007565  Snack Foods  107.8622
1        8.300              reg         0.038428        Dairy   87.3198
2       14.600          Low Fat         0.099575       Others  241.7538
3        7.315          Low Fat         0.015388  Snack Foods  155.0340
4          NaN          Regular         0.118599        Dairy  234.2300

In [45]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
test_mod["Item_Fat_Content"]=le.fit_transform(test_mod[["Item_Fat_Content"]])
test_mod["Item_Type"]=le.fit_transform(test_mod[["Item_Type"]])

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [46]:
test_mod.columns, X_test.columns

(Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
        'Item_MRP'],
       dtype='object'),
 Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
        'Item_MRP'],
       dtype='object'))

In [52]:
test_mod.dropna(inplace=True)

In [53]:
test_mod.isnull().sum()

Item_Weight         0
Item_Fat_Content    0
Item_Visibility     0
Item_Type           0
Item_MRP            0
dtype: int64

In [58]:
X_train.shape, y_train.shape

((6577, 5), (6577,))

In [61]:
gbr=GradientBoostingRegressor()
gbr.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [63]:
predicted_price=gbr.predict(test_mod)

In [64]:
#predicted price for test data
predicted_price

array([7.30967029, 7.09517504, 7.81700989, ..., 7.23840609, 7.91148191,
       6.91645392])